.paddingBody-Mobile {
    padding-left: 0px;
}

.paddingBody-Desktop {
    padding-left: 55px;
}

/*COMPONENT*/
.dashboard {
    background-color: #232323;
    padding-top: 75px;
    position: fixed;
    width: 0px;
    left: 0px;
    height: 100%;
    z-index: 100;
    transition: width 0.2s ease-out;
    -moz-transition: width 0.2s ease-out;
    -webkit-transition: width 0.2s ease-out;
}

.dashboard-open {
    width: 220px;
}

.dashboard-closed {
    width: 55px;
}

.dashboard-hide {
    width: 0px;
}

/*Toggler*/
.dashboard-toggler {
    width: 32px;
    height: 32px;
    padding: 0px;
    text-align: center;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.2) !important;
    /*border: 1px solid rgba(0,0,0,0.3) !important;*/
    border: none;
    transition: all 0.2s;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
}

    .dashboard-toggler:hover {
        background-color: rgba(0,0,0,0.4) !important;
    }

    .dashboard-toggler:active {
        background-color: rgba(0,0,0,0.6) !important;
    }

.dashboard-icon-toggler {
    font-size: 28px;
    color: white;
}


/*TOP*/

.dashboard-top-open {
    display: block;
}

.dashboard-top-closed {
    display: none;
}

.dashboard-a-user-image {
    width: 75px !important;
    height: 75px !important;
}

.dashboard-user-image {
    width: 75px;
    height: 75px;
    cursor: pointer;
    border-radius: 100%;
}

.dashboard-a-name-user {
    text-decoration: none !important;
    color: rgba(255, 255, 255, 0.72);
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}

    .dashboard-a-name-user:hover {
        color: rgba(255, 255, 255, 0.9);
    }

/*CENTER*/

#dashboard-center {
    margin-top: 40px;
}

.dashboard-a-opt {
    text-decoration: none !important;
    width: 100%;
    padding: 9px 0px 9px 25px;
    display: flex;
    align-items: center;
    /*justify-content: center;*/
}

.dashboard-a-opt-open {
    padding: 9px 0px 9px 25px;
}

.dashboard-a-opt-closed {
    padding: 9px 0px 9px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dashboard-a-opt:hover {
    transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    background-color: #3C3C3C;
}

    .dashboard-a-opt:hover .dashboard-icon-opt, .dashboard-a-opt:hover .dashboard-name-opt {
        color: rgba(255, 255, 255, 1);
    }


.dashboard-icon-opt, .dashboard-name-opt {
    color: rgba(255, 255, 255, 0.7);
    transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
}


.dashboard-icon-opt {
    margin-top: 2px;
}

.dashboard-icon-opt-open {
    font-size: 22px;
}

.dashboard-icon-opt-closed {
    font-size: 28px;
}

.dashboard-name-opt {
    font-size: 18px;
    margin-left: 8px;
    font-weight: 300;
}

.dashboard-name-opt-open {
    display: block;
}

.dashboard-name-opt-closed {
    display: none;
}

/*BOTTOM*/

#dashboard-bottom {
    width: 100%;
    position: absolute;
    bottom: 15px;
}
