* {
    box-sizing: border-box !important;
}
html {
    padding: 0px !important;
    margin: 0px !important;
}

body {
    margin: 0px !important;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/



/*Estilo Personalizado*/

    input:focus, input[type=text], button:focus, textarea:focus, .custom-select:focus, a:focus, a:active {
        outline: 0 none !important;
        box-shadow: none !important;
    }

.btn:focus {
    box-shadow: none !important;
}