@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div class="min-vh-100 pt-5 px-2 px-md-3 px-lg-4">

    <div class="cont-forms-crud my-5 mx-auto py-3 px-1 px-sm-3 shadow col-12 col-sm-10 col-md-9 col-lg-7 col-xl-6">

        <form action="/Linea/Consulta" method="post" class="w-100">
            @Html.AntiForgeryToken()
            <h4 class="text-center mt-2 text-info">Seleccionar Empresa</h4>
            <hr />

            <div class="input-group mb-3 mt-4" style="padding: 0px 15px 0px 15px">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="IdEmpresa">Empresa</label>
                </div>
                @Html.DropDownList("id", new SelectList(ViewBag.Empresas, "IdEmpresa", "Descripcion"), "--Seleccione--", new { @class = "custom-select", @tabindex = "1", @required = "" })
            </div>

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group mt-4">
                <div class="col-md-12">
                    <input type="submit" value="Consultar" class="btn btn-block btn-success" tabindex="2" />
                </div>
            </div>

            <div class="d-flex align-items-center justify-content-center mt-4 mb-3">
                <a href="@Url.Action("Index","Usuario")" class="text-info" tabindex="3">Regresar</a>
            </div>

        </form>

    </div>
</div>